#about_us
{
  margin-top: 150px;
}
.about_content
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.about_us_text{
  width: 40%;
  text-align: start;
}
.about_us_text h1
{
  font-size: 75px;
}
.about_us_text p
{
  font-size: 32px;
  /* width: 550px; */
  text-wrap: wrap;
}
.about_us_img
{
  margin-left: 20px;
  width: 40%;
  height: 700px;
  background-image: url(src/assets/daystar_logo.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

@media screen and (max-width: 1200px)
{
  .about_content
  {
    justify-content: start;
    margin-left: 50px;
  }
  .about_us_img{
    display: none;
  }
  #about_us
  {
    margin-top: 10px;
    background-image: url(src/assets/daystar_logo.jpeg);
    /* background-position: center;*/
    background-size: cover;
    /* color: white; */
    background: blur(10px);
    border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    color: rgb(148, 150, 150);

  }
  .about_us_text p
  {
    font-size: 25px;
    width: 350px;
  }
}