#header_other
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  padding-left: 5%;
  padding-right: 5%;
}
.menu_btn
{
  border: none;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
}
#menu
{
  position: absolute;
  left: 6%;
  top: 9%;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);

}

#menu img
{
  margin-left: 15px;
}