.technical_writing_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.technical_writing_content button {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}
#technical_writing {
  margin-top: 30px;
}
.writing_title {
  width: 97%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 45px;
  margin-top: 50px;
}
.writing_hr {
  width: 97%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.technical {
  width: 45%;
  min-width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: start;
  padding: 50px;
  padding-bottom: 0px;
  padding-right: 0px;
  background-size: cover;
}
.technical img {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
}
.technical h2 {
  text-align: center;
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  margin: 5px;
  margin-top: 20px;
  color: white;
}
.topic {
  font-size: 15px;
  color: yellow;
}
.technical p {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  margin: 5px;
  color: white;
}
.technical button {
  position: relative;
  left: 82%;
  background: rgba(28, 57, 123);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
